*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: rgba(0, 114, 221, 0.473);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 1rem ;
    padding: 1rem;
}
nav ul li a {
    text-decoration: none;
    color: aqua;
    font-weight: 600;
    
}
nav ul li a:hover{
    color: orangered;
    border-bottom: 1px solid orangered
}
.menu-icon {
font-size: 24px;
display: none;

}
@media only screen and ( max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }
nav ul {
    flex-direction: column;
    width: 100%;
}
nav ul.hidden {
    display: none ;
}
.menu-icon{
    display: flex;
align-items: center;
}
}
.show {
    display: block;
}

    




 .product-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Membagi kolom menjadi 3 */
            gap: 20px; /* Jarak antara produk */
        }

        .product-card {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }

        .product-card img {
            max-width: 50%;
            height: auto;
        }


.carousel-container {
    display: auto;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1px;
}

.carousel {
    display: flex;
    overflow: auto;
    max-width: 500px;
    width: 100%;

}

.carousel-item {
    min-width: 100%;
    flex-shrink: 0;
    transition: transform 0.5s;
}

.carousel img {
    width: 19%;
    height: unset;
}
/* CSS untuk mengatur ukuran gambar dalam carousel */
.swiper-slide img {
    max-width: 50%; /* Maksimum lebar gambar sesuai dengan lebar slide */
    height: 40%;
    text-decoration: center ;
}



